.scene {
  width: 100vw;
  height: 100vh;
}

.canvas {
  background: #000;
}

.overlay3D {
  position: absolute;
  color: white;
  top: 70vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.sentence {
  margin-bottom: 30px;
}
